.git
.github
.env
.env.*
!.env.example

node_modules
**/node_modules

tmp
dist
**/dist
build
**/build
coverage
**/coverage
rust/target
**/gonvex/_build
playwright-report
test-results

*.log
.DS_Store
